*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: grey;
}
#content{
    height: 800px;
    width: 800px;
    border:2px solid black;
    border-radius: 20px;
    background-color: rgb(95, 91, 170);
}
#playerbox{
    height: 280px;
    width: 280px;
    border:2px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}
#computerbox{
    height: 280px;
    width: 280px;
    border:2px solid black;
    border-radius: 20px;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-wrap: wrap;
}
#display {
    display: flex;
    justify-content: space-around;
    /* border: 4px solid black; */
}
#button {
    height: 300px;
    width: 100%;
    /* border:2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.btncoice{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin: 10px;
    font-size: 30px;
    font-weight: bold;
}
#result{
    height: 100px;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bolder;
}
#player{
    background-color: rgb(65, 73, 150);
    text-align: center;
    border-radius: 10px;
}
#computer {
    background-color: rgb(73, 175, 238);
    text-align: center;
    border-radius: 10px;
}